[submodule "laravel/Modules/Blog"]
	path = laravel/Modules/Blog
	url = https://github.com/laraxot/module_blog.git
[submodule "laravel/Modules/LU"]
	path = laravel/Modules/LU
	url = https://github.com/laraxot/module_lu.git
[submodule "laravel/Modules/Theme"]
	path = laravel/Modules/Theme
	url = https://github.com/laraxot/module_theme.git
[submodule "laravel/Modules/Xot"]
	path = laravel/Modules/Xot
	url = https://github.com/laraxot/module_xot.git
[submodule "public_html/noconsole"]
	path = public_html/noconsole
	url = https://github.com/laraxot/noconsole.git
[submodule "laravel/Modules/Geo"]
	path = laravel/Modules/Geo
	url = https://github.com/laraxot/module_geo.git
[submodule "laravel/Modules/FormX"]
	path = laravel/Modules/FormX
	url = https://github.com/laraxot/module_formx.git
[submodule "laravel/Modules/Cart"]
	path = laravel/Modules/Cart
	url = https://github.com/laraxot/module_cart.git
[submodule "laravel/resources/views/themes/sb-admin-2-bs4"]
	path = laravel/resources/views/themes/sb-admin-2-bs4
	url = https://github.com/laraxot/theme_sb-admin-2-bs4.git
[submodule "laravel/resources/views/themes/one"]
	path = laravel/resources/views/themes/one
	url = https://github.com/laraxot/theme_one.git
[submodule "laravel/resources/views/themes/zero"]
	path = laravel/resources/views/themes/zero
	url = https://github.com/laraxot/theme_zero.git
[submodule "laravel/resources/views/themes/two"]
	path = laravel/resources/views/themes/two
	url = https://github.com/laraxot/theme_two.git
[submodule "laravel/resources/views/themes/starter"]
	path = laravel/resources/views/themes/starter
	url = https://github.com/laraxot/theme_starter.git
[submodule "laravel/resources/views/themes/coderdocs"]
	path = laravel/resources/views/themes/coderdocs
	url = https://github.com/laraxot/theme_coderdocs.git
[submodule "laravel/Modules/RevSlider"]
	path = laravel/Modules/RevSlider
	url = https://bitbucket.org/team_xot/module_revslider.git
[submodule "laravel/Modules/Food"]
	path = laravel/Modules/Food
	url = https://github.com/laraxot/module_food.git
[submodule "laravel/resources/views/themes/directorybs4"]
	path = laravel/resources/views/themes/directorybs4
	url = https://bitbucket.org/team_xot/theme_directorybs4.git
[submodule "laravel/resources/views/themes/jigsawdocs"]
	path = laravel/resources/views/themes/jigsawdocs
	url = https://github.com/laraxot/theme_jigsawdocs.git
[submodule "laravel/resources/views/themes/jigsawcasper"]
	path = laravel/resources/views/themes/jigsawcasper
	url = https://github.com/laraxot/theme_jigsawcasper
[submodule "laravel/resources/views/themes/miniblog"]
	path = laravel/resources/views/themes/miniblog
	url = https://github.com/laraxot/theme_miniblog.git
[submodule "laravel/resources/views/themes/bsitalia"]
	path = laravel/resources/views/themes/bsitalia
	url = https://github.com/laraxot/theme_bsitalia.git
[submodule "laravel/resources/views/themes/adminflu"]
	path = laravel/resources/views/themes/adminflu
	url = https://github.com/laraxot/theme_adminflu.git
[submodule "laravel/resources/views/themes/metronic_one"]
	path = laravel/resources/views/themes/metronic_one
	url = https://Malebestia@bitbucket.org/qweb_xot/theme_metronic_one.git
